@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dosis-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Dosis Bold'), local('Dosis-Bold'),
       url('../fonts/dosis-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dosis-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dosis-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dosis-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dosis-v7-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}

*:focus {
  outline: 0 !important;
}
body {
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.85rem;
}
.btn-link, .btn-link:focus, .btn-link:active {
  box-shadow: none;
  cursor: pointer;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified > .btn-group .btn {
  width: 100%;
}
.btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
code, pre {
  background-color: #f5f5f5;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  font-size: 110%;
  padding-left: 15px;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
  color: rgb(217, 108, 34) !important;
  background: transparent !important;
}
.sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
  color: rgb(217, 108, 34) !important;
}
.sidebar .nav .nav-item .nav-link.active:hover {
  color: #fff !important;
  background: rgb(217, 108, 34) !important;
}
.sidebar .nav .nav-item .nav-link.active:hover i {
  color: #fff !important;
}
.application-link {
  text-decoration: none !important;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
}
/*.application-link:hover {
  background-color: #eeeeee !important;
}*/
.device-link {
  text-decoration: none !important;
  cursor: pointer !important;
}
.device-detail a.text-primary:hover {
  color: #20a8d8 !important;
}
/*.device-link:hover {
  background-color: #eeeeee !important;
}*/
.vue-loader {
  margin: 0 auto;
  margin-top: 100px;
}
.wrap {
  display: inline-block !important;
  padding-right: 30px !important;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}
.head-wrap {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  font-family: "Dosis";
  font-weight: 700;
  letter-spacing: 0.5px;
}
.doc-title {
  color: #3b5998 !important;
}
.doc-title:hover {
  color: #14264E !important;
}
.api-method {
  display: inline;
  padding: .2em .8em .2em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: .25em;
  margin-right: 5px;
  text-transform: uppercase;
}
.api-method.get {
  background-color: #72b925;
}
.api-method.post {
  background-color: #f5a623;
}
.api-method.delete {
  background-color: #ed4b48;
}
.input-no-border {
  border: none !important;
}
.form-control:disabled {
  background-color: #eee !important;
}
.text-copy {
  cursor: text !important;
}
ul.icons-list li .desc .title {
  padding: 4px 0 0;
}
ul.icons-list li .value {
  right: 60px;
}
ul.icons-list li .value2 {
  right: 0;
}
.copy-on-input {
  z-index: 4;
  position: absolute;
  right: 0;
}

body {
  background-color: #f5f6f7;
}
button, input, optgroup, select, textarea {
  /* font-family: "Segoe UI", sans-serif; */
  font-family: "Lato", sans-serif !important;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.container-fluid {
  overflow: hidden;
}
.sidebar {
  padding: 0 16px 0 16px;
  /*background-color: #e8e8e8;*/
  /*background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); background-blend-mode: multiply;*/
  background-color: #EAEAEA;
  -webkit-box-shadow: inset -10px 0px 40px -20px rgba(0,0,0,0.09);
  box-shadow: inset -10px 0px 40px -20px rgba(0,0,0,0.09);
}
.sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item .dropdown-toggle{
  /*color: rgba(255,255,255,0.5);*/
}
.sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar .nav .nav-item .dropdown-toggle i {
    /*color: rgba(255,255,255,.7);*/
}
.sidebar .sidebar-nav, .sidebar ul.nav {
  width: 208px;
}
@media (max-width: 991px) {
  .sidebar .sidebar-nav, .sidebar .nav {
      width: 208px !important;
  }
}
.card {
  border: 1px solid rgba(0,0,0,0.07);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.03);
  box-shadow: 0 2px 20px rgba(0,0,0,0.03);
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.card-block {
  padding: 16px;
}
.card-header {
  border-bottom: 1px solid rgba(0,0,0,0.07);
}
.card-footer {
  border-top: 1px solid rgba(0,0,0,0.07);
}
.card-header .card-actions a, .card-header .card-actions button {
  border-left: 1px solid rgba(0,0,0,0.07);
}
header.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.07);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.03);
  box-shadow: 0 2px 20px rgba(0,0,0,0.03);
}
header.navbar .navbar-brand {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  /* -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.03);
  box-shadow: 0 2px 20px rgba(0,0,0,0.03); */
}
.form-control {
  border: 1px solid rgba(0,0,0,0.07);
}
.input-group-addon {
  border: 1px solid rgba(0,0,0,0.07);
}
hr {
  border-top: 1px solid rgba(0,0,0,0.07);
}
ul.icons-list li .desc {
  border-bottom: 1px solid rgba(0,0,0,0.07);
  padding: 0 0 5px;
}
ul.icons-list li:last-child .desc {
  padding: 0;
  height: auto;
  border-bottom: none;
}
/* ul.icons-list li {
  height: auto;
} */
ul.icons-list li:last-child {
  height: auto;
}
.card.hover {
  transition: all .2s ease-in-out;
}
.card.hover:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 8px 12px rgba(0,0,0,0.05);
  box-shadow: 0 8px 12px rgba(0,0,0,0.05);
}

.item-store .item-image.slide:hover {
  transform: scale(1);
}

.card .actions {
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .card .actions {
    position: relative;
    padding-left: 16px;
    line-height: 40px;
    text-align: left;
  }
}

a.navbar-brand {
  /* -webkit-box-shadow: inset -10px 0px 40px -20px rgba(0,0,0,0.3);
  box-shadow: inset -10px 0px 40px -20px rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,.07) */
}
header.navbar .navbar-brand {
  background-color: #fff;
  background-image: url(../img/logox.png);
}
.btn-twitter::before {
    content: "\f09e";
}
.btn-openid::before {
    content: "\f084";
}
.btn-html5::before {
    content: "\f084";
}
.btn-flickr::before {
    content: "\f1f8";
}
.btn:hover {
  cursor: pointer;
}
.input-group-addon {
    background-color: rgba(0,0,0,.03);
}
.notifications {
  top: 10px !important;
}
.vue-notification {
  padding-left: 15px !important;
  border-left: none !important;
  border-radius: 0.25rem !important;
}
.modal-open {
  overflow: inherit;
}

.browser {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  /*box-shadow: 0px 20px 25px 10px rgba(0, 0, 0, .4);*/
  margin: auto
}

.toolbar-web {
    background-color: #D9DBDC;
    width: auto;
    height: 30px;
    border-radius: 5px 5px 0 0;
}

.tab {
    border-bottom: 22px solid #E9E9E9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 10px 10px 0 0;
    height: 8px;
    margin-top: 8px;
    width: 160px;
    display: inline-block;
}

.tabbar {
  background-color: #F2F2F2;
  width: auto;
  height: 23px;
}

.btn-web {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  margin: 10px 5px 0 0;}
.btn-web:first-of-type {
  margin-left: 10px;
}

  .close {
    background-color: #E06752;
  }

  .min {
    background-color:  #ecc343;
  }

  .max {
    background-color: #57d08d;
  }

.viewport {
    /*background-color: #b6ebef;*/
    width: auto;
    height: auto;
    border-top: 1px solid rgba(0,0,0,.08);
}

.viewport iframe {
    width: 1200px;
    height: 373px;
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}

img {
  max-width: 100%;
  border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.image, .middle {
    width: 240px;
    cursor: pointer;
}

.img-esp {
  display: block;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.middle {
    transition: .5s ease;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.middle {
    text-align: center;
}

.image, .middle {
    cursor: pointer;
}

.text {
    color: #666;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
}

.heading-alt {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
}

code[class*="language-"],
pre[class*="language-"] {
    /* color: #f8f8f2; */
    /* background: none; */
    /* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
    /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
    /* text-align: left; */
    /* white-space: pre; */
    /* word-spacing: normal; */
    /* word-break: normal; */
    /* word-wrap: normal; */
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    /* tab-size: 4; */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    /* hyphens: none; */
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

    .line-numbers-rows > span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
    }

        .line-numbers-rows > span:before {
            content: counter(linenumber);
            color: #999;
            display: block;
            padding-right: 0.8em;
            text-align: right;
        }
pre.code-toolbar {
    position: relative;
}

pre.code-toolbar > .toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

pre.code-toolbar:hover > .toolbar {
    opacity: 1;
}

pre.code-toolbar > .toolbar .toolbar-item {
    display: inline-block;
}

pre.code-toolbar > .toolbar a {
    cursor: pointer;
}

pre.code-toolbar > .toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    border-radius: .5em;
}

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar button:hover,
pre.code-toolbar > .toolbar button:focus,
pre.code-toolbar > .toolbar span:hover,
pre.code-toolbar > .toolbar span:focus {
    color: inherit;
    text-decoration: none;
}
.v-spinner.widget {
    text-align: left;
}
.vue-loader.widget {
    margin-top: 7px;
}
.pd25 {
  padding-left: 25px !important;
}

.pd38 {
  padding-left: 38px !important;
}

.box-side {
  width: 150px;
  height: 20px;
  position: inherit;
  display: -webkit-box;
  padding: 0 0 0 2rem;
  transform: translate(0, -21px)
}

.break-word {
  word-wrap: break-word;
  word-break: normal;
  white-space: normal;
  padding-right: 25px;
}

.btn-circle {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.btn-circle-s {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.btn-circle-close {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  background-color: #B0BEC5;
  border-radius: 50%;
}

.btnCircleActive {
  background-color: red;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.btnactive{
  background-color:red;
}

.center-content {
  margin:auto;
  display: block;
}

.input-material {
  /*font-size:18px;*/
  padding:10px 10px 10px 5px;
  display:block;
  width:65%;
  border:none;
  border-bottom:3px solid #21A8D8;
}

.w50 {
  display: block;
  width: 40%;
  margin: 10px;
}

.p10 {
  padding: 10px;
}

.p04 {
  padding: 0.4rem 0.4rem !important;
}

.mt50 {
  margin: 0 auto;
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.box-widget {
  width: 73px;
  height: 100px;
  position: inherit;
  display: -webkit-box;
  padding: 0 0 0 2rem;
}

.select-box:hover {
  background-color: #ccc;
  cursor: pointer;
}

.btn-widget {
  padding: 20px 0;
}

.sprite {
    background-image: url('/static/img/icon/sprite-widget.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-barchart {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
}

.sprite-control {
    width: 64px;
    height: 64px;
    background-position: -5px -79px;
}

.sprite-device {
    width: 64px;
    height: 64px;
    background-position: -5px -153px;
}

.sprite-doubleaxis {
    width: 64px;
    height: 64px;
    background-position: -5px -227px;
}

.sprite-gauge {
    width: 64px;
    height: 64px;
    background-position: -5px -301px;
}

.sprite-histogram {
    width: 64px;
    height: 64px;
    background-position: -5px -375px;
}

.sprite-historical {
    width: 64px;
    height: 64px;
    background-position: -5px -449px;
}

.sprite-htmlcanvas {
    width: 64px;
    height: 64px;
    background-position: -5px -523px;
}

.sprite-lastmonth {
    width: 64px;
    height: 64px;
    background-position: -5px -597px;
}

.sprite-lastvalue {
    width: 64px;
    height: 64px;
    background-position: -5px -671px;
}

.sprite-lastweek {
    width: 64px;
    height: 64px;
    background-position: -5px -745px;
}

.sprite-linechart {
    width: 64px;
    height: 64px;
    background-position: -5px -819px;
}

.sprite-marker2 {
    width: 64px;
    height: 64px;
    background-position: -5px -893px;
}

.sprite-markerto {
    width: 64px;
    height: 64px;
    background-position: -5px -967px;
}

.sprite-metric2 {
    width: 64px;
    height: 64px;
    background-position: -5px -1041px;
}

.sprite-onoff {
    width: 64px;
    height: 64px;
    background-position: -5px -1115px;
}

.sprite-poweroff {
    width: 64px;
    height: 64px;
    background-position: -5px -1189px;
}

.sprite-project {
    width: 64px;
    height: 64px;
    background-position: -5px -1263px;
}

.sprite-scatterplot {
    width: 64px;
    height: 64px;
    background-position: -5px -1337px;
}

.sprite-today {
    width: 64px;
    height: 64px;
    background-position: -5px -1411px;
}

.sprite-url {
    width: 64px;
    height: 64px;
    background-position: -5px -1485px;
}

.sprite-webcam {
    width: 64px;
    height: 64px;
    background-position: -5px -1559px;
}

.sprite-yesterday {
    width: 64px;
    height: 64px;
    background-position: -5px -1633px;
}